#join-giveth-community {
  height: 360px;
  background-size: cover;
  padding: 100px 20px 50px 20px;
  color: white;

  @include make-flex();

  h3 {
    margin-bottom: 20px;
  }

  a:not(:first-child) {
    margin-left: 10px;
  }

  .btn {
    margin: 4px 2px;
  }
}
