
name: Build and deploy dapp - production

on:
  push:
    tags: [ '[0-9]+.[0-9]+.[0-9]+' ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: testing target rules
        run: echo ${{ github.sha }} 
      - name: echo tag
        run: echo ${{ github.ref }}

         
      #- uses: actions/checkout@master
      #- uses: actions/setup-node@master
      #  with:
      #    node-version: '10.23.0'
      #- run: npm install
      #- run: npm run build:staging
      #- name: rsync deployments
      #  uses: burnett01/rsync-deployments@4.1
      #  with:
      #    switches: -avzr --delete
      #    path: build/
      #    remote_path: /home/deployer/dapp
      #    remote_host: ${{ secrets.DEPLOY_HOST }}
      #    remote_user: ${{ secrets.DEPLOY_USER }}
      #    remote_key: ${{ secrets.DEPLOY_KEY }}
   
